[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
sysinfo.txt

*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.booproj
*.svd
.vs/
*.vsidx


# OS files
.DS_Store
*.swp
ChineseWords/Assets/StreamingAssets/dictionary.db
ChineseWords/Assets/Resources/Fonts/Ali-02 Atlas.png
ChineseWords/Assets/Resources/Fonts/Ali-01 Atlas.png
ChineseWords/Assets/Resources/Fonts/Ali-M-02 Atlas.png
ChineseWords/Assets/Resources/Fonts/Ali-M-01 Atlas.png
